body {
  background-color: #93afc7;
}

h1 {
  color: rgb(29, 0, 0);
  text-align: center;
}
h2 {
  color: rgb(0, 0, 0);
  text-align: center;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-left: auto;
    margin-right: auto; 
}
a {
    text-decoration: underline  ;
    color: rgb(255, 255, 255);
    font-family: monospace;
    font-size: 25px;
}

.tablacontenido{
td {
  border: 5 solid rgb(0, 1, 37);
  padding: 20px;
  text-align: center;
  font-size: 20px;
  font-family: verdana; 
}   



}


p {
  font-family: monospace;
  font-size: 20px;
}