body {
  background-color: #93afc7;
}

h1 {
  color: rgb(29, 0, 0);
  text-align: center;
}
h2 {
  color: rgb(0, 0, 0);
  text-align: center;
}
table {
    border-color: rgb(0, 1, 37);
  width: 50%;
  border-collapse: collapse;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

td {
  border: 4 solid rgb(0, 1, 37);
  padding: 8px;
  text-align: center;
  font-size: 20px;
  font-family: verdana;
}


p {
  font-family: verdana;
  font-size: 20px;
}